.grapes {
  img {
    margin: 0 auto;
    padding: 6px;
    display: block;
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: rgba(177,188,195,.5); /* layer fill content */
  }

}