.none {
  display: none !important;
}
#header-news {
  max-height: 214px;
  background-image: url(../img/news-header-bg.png);
  overflow: visible;

}
.article {
  background: #FFF;
  border-bottom: 1px solid #4f3715;
  width: 90%;
  margin: 0 auto 0px;
  padding: 15px 5px;
  .news__image {
    display: inline-block;
    width: 30%;
    img {
      width: 100%;
    }
  }
  .news__post {
    display: inline-block;
    width: 70%;
    .news__title {
      text-decoration: underline;
      color: #007DDC;
    }
  }
}

.news__count {
  margin: 10px 0 0 0;
  display: block;
}