/* line 1, ../../../sass/layout/partials/news-page.scss */
.none {
  display: none !important;
}

/* line 4, ../../../sass/layout/partials/news-page.scss */
#header-news {
  max-height: 214px;
  background-image: url(../img/news-header-bg.png);
  overflow: visible;
}

/* line 10, ../../../sass/layout/partials/news-page.scss */
.article {
  background: #FFF;
  border-bottom: 1px solid #4f3715;
  width: 90%;
  margin: 0 auto 0px;
  padding: 15px 5px;
}
/* line 16, ../../../sass/layout/partials/news-page.scss */
.article .news__image {
  display: inline-block;
  width: 30%;
}
/* line 19, ../../../sass/layout/partials/news-page.scss */
.article .news__image img {
  width: 100%;
}
/* line 23, ../../../sass/layout/partials/news-page.scss */
.article .news__post {
  display: inline-block;
  width: 70%;
}
/* line 26, ../../../sass/layout/partials/news-page.scss */
.article .news__post .news__title {
  text-decoration: underline;
  color: #007DDC;
}

/* line 33, ../../../sass/layout/partials/news-page.scss */
.news__count {
  margin: 10px 0 0 0;
  display: block;
}
